<%= form_with(model: listing, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
    <div class="invalid-feedback">
      <%= show_field_errors(listing, :title) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
    <div class="invalid-feedback">
      <%= show_field_errors(listing, :address) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :time_zone %>
    <%= form.time_zone_select :time_zone, 
      ActiveSupport::TimeZone.us_zones, 
      { default: "Eastern Time (US & Canada)" }, 
      { class: 'form-control' } %>
    <div class="invalid-feedback">
      <%= show_field_errors(listing, :time_zone) %>
    </div>
  </div>

  <div class="form-group form-check">
    <%= form.check_box :automatic_servicing, class: "form-check-input" %>
    <%= form.label :automatic_servicing %>
    <%= icon('fas', 'question-circle', class: 'text-muted', data: { toggle: "tooltip", placement: "right", title: "Automatically turn off lights following checkout at 10 AM" }) %>
  </div>

  <div class="form-group">
    <% if listing.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', listing, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if listing.persisted? %>
      <%= link_to "Cancel", listing, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", listings_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
