<div class="page-header">
  <%= link_to listings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Listings
  <% end %>
  <%= link_to edit_listing_path(@listing), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show listing</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @listing.title %></dd>

  <dt>Address:</dt>
  <dd><%= @listing.address %></dd>
</dl>

<% if @listing.devices.any? %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Device Name</th>
          <th>Type</th> 
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @listing.devices.each do |device| %>
          <%= content_tag :tr, id: dom_id(device), class: dom_class(device) do %>
            <td>
              <% case device.hardware_type %>
              <% when "st_switch" %>
                <%= icon('fas', 'lightbulb') %>
              <% when "st_lock" %>
                <%= icon('fas', 'lock') %>
              <% when "st_thermostat" %>
                <%= icon('fas', 'temperature-high') %>
              <% end %>
            </td>
            <td><%= device.display_name %></td>
            <td><%= device.hardware_type %></td>
            <td><%= device.status %></td>
            <td>
              <%= device.meta %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "Reconnect with SmartThings to add more devices", @smartthings_authorize_url  %> 
<% else %>
  <%= link_to "Connect with SmartThings to add devices", @smartthings_authorize_url  %>  
<% end %>
